/* transition idea use cases https://thoughtbot.com/blog/transitions-and-transforms */

body {
  interpolate-size: allow-keywords;
  transition: background-color 5s;
}

/* animating the background to switch between seasons
html, body {
  width: 100%;
  height: 100%;
}
*/

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.summer {
  background-color:  rgb(184, 231, 247);
}

.autumn {
  background-color:  rgb(228, 208, 145);
}

/* adjusting dimensions of the iframe for full and small screen mode*/
@keyframes animate {
  0% {
    width: none;
    height: none;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

/*
#forTrans {
  transition: all 2s ease-in;
}
*/

.containFrame {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 500px;
  margin: auto; /* center */
  border-radius: 10px; /* rounded edges */
  border: 1px solid rgba(50, 120, 136, 0.512);
}

.fullscreen {
  z-index: 1;
  width: 100%;
  height: 100%
}

/* fit iframe in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* animating entrance slide in of body. navigation slides in slightly after*/ 
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

#underNav {
  animation-name: slideIn;
  animation-duration: 1s;
  transition-timing-function: ease-in;
  padding: 0.5% 3% 1% 3%;
  background-color: aliceblue;
  margin: 10%;
  border-radius: 5%;
  box-shadow: 1em 1em 0em rgba(50, 120, 136, 0.699), 2em 2em 0em rgba(105, 158, 170, 0.521);
  border: 2px solid rgb(50, 120, 136);
  /* for desc toggle*/
  overflow: hidden;
  transition: height 1s ease;
}

.setHeight {
  height: 1047px;
}

/* also hide the description itself to ensure that it can't be seen even when window size varies*/
#desc {
  overflow: hidden;
  transition: height 1s ease;
}

.hideDesc {
  height: 0px;
}

.footer {
  position: relative;
}

#navigation {
  animation-name: slideIn;
  animation-duration: 1.3s;
  transition-timing-function: ease-in;
}

/* appearances */